<section id="header">
    <div class="container header">
        <h1>Decentralized Crowdfunding</h1>
        <h2>
            Empowering Projects and Communities through Decentralized Crowdfunding
        </h2>
        <!-- <p>
            Whether you're looking to raise funds, support impactful projects, or promote innovative ideas, BoostAid offers a seamless platform tailored to your needs.
        </p> -->
        <!-- <p>Take advantage of the pre-launch and get your NFT at a low price.</p> -->
        <!-- <button mat-flat-button color="primary">Start Now</button> -->

        <!-- PRE-LAUNCH -->
        <p class="highlight">
            Pre-launch Exclusive: Get Your NFT at a Discounted Price!
        </p>
        <button mat-flat-button color="accent" [routerLink]="'/v1/nft'">Get Your NFT Now!</button>
    </div>
</section>

<!-- <section class="pre-launch-announcement">
    <div class="container">
        <h2>Pre-Launch Is Here!</h2>
        <p>Stay tuned for our exciting pre-launch. Follow us on Twitter for the latest updates and stay tuned for our
            pre-launch event featuring exclusive discounted NFTs!</p>
        <button mat-flat-button color="accent" [routerLink]="'/v1/nft'">Get Your NFT Now!</button>
    </div>
</section> -->

<section class="pre-launch-announcement">
    <div class="container">
        <h2>Pre-Launch Is Here!</h2>
        <p>Stay tuned for our exciting pre-launch. Follow us on X for the latest updates and stay tuned for our
            pre-launch event featuring exclusive discounted NFTs!</p>
        <a mat-flat-button color="primary" href="https://x.com/boostaid_btc" target="_blank">Follow us on X</a>
    </div>
</section>

<section id="about" class="section-about">
    <div class="container">
        Whether you're looking to raise funds, support impactful projects, or promote innovative ideas, <span
            class="text-color-white">Boost</span><span class="text-color-primary">Aid</span> offers a seamless platform
        tailored to your needs.
    </div>
</section>

<section id="discover-fundraisers" class="discover-fundraisers-section">
    <div class="container">
        <h2>Discover Fundraisers</h2>
        <p>
            Explore a variety of fundraising campaigns on BoostAid. Find causes that resonate with you and support them to make a difference.
        </p>
        <button mat-flat-button color="primary" [routerLink]="'/v1/campaign'">
            See Available Fundraisers
        </button>
    </div>
</section>

<section id="features" class="section-cards">
    <div class="container">
        <h2>How to Earn:</h2>

        <ul class="cards-list">
            <li class="card">
                <h3>Fundraiser</h3>
                Launch your fundraising campaign and reach your goals with BoostAid. With our platform, you can connect with a global audience, attract supporters, and achieve your financial targets faster than ever.
            </li>
            <li class="card">
                <h3>Supporter</h3>
                Support the causes you believe in and earn rewards. By backing projects on BoostAid, you contribute to meaningful initiatives and benefit from our unique reward system.
            </li>

            <li class="card">
                <h3>Promoter</h3>
                Promote projects and earn rewards for your efforts. Use your influence and network to spread the word about BoostAid campaigns and enjoy the financial perks of your promotional activities.
            </li>
        </ul>
    </div>
</section>

<!-- <section id="platforms">
    <div class="container">
        <h2>
            Get Started
        </h2>
        <p>
            Ready to multiply your STXs? Join BoostAid today and be part of a community that's redefining earning and supporting great ideas. Get your NFT pre-launch now.
        </p>
        <button mat-flat-button color="primary" [routerLink]="'/v1/nft'">Get Your NFT Now!</button>
    </div>
</section> -->

<!-- PRE-LAUNCH -->
<section id="cta" class="cta-section">
    <div class="container">
        <h2>Don't Miss Out!</h2>
        <p>
            Join BoostAid today and secure your discounted NFT before the pre-launch ends!
        </p>
        <button mat-flat-button color="accent" [routerLink]="'/v1/nft'">
            Get Your NFT Now!
        </button>
    </div>
</section>

<mat-divider></mat-divider>

<section id="contact">
    <div class="container">
        <h2>
            Our Mission
        </h2>
        <p>
            At BoostAid, our mission is to create a vibrant ecosystem where individuals and communities can thrive. We
            aim to empower fundraisers, supporters, and promoters by providing the tools and resources needed to
            achieve their goals, fostering growth, and driving positive change.
        </p>
    </div>
</section>

<section id="dao" class="section-dao">
    <div class="container">
        <h2>BoostAid DAO: Future of Community Governance</h2>
        <p>
            BoostAid is committed to evolving into a community-driven ecosystem. As part of our future plans, we will be
            implementing the BoostAid Decentralized Autonomous Organization (DAO), which will empower supporters,
            project creators, and influencers to actively participate in the platform's governance and shape its
            direction.
        </p>
        <h3>Upcoming Community Governance</h3>
        <p>
            The BoostAid DAO will distribute governance rights to the community through BoostAid DAO tokens. These
            tokens will be claimable based on your level of support for fundraising campaigns on our platform. As a
            token holder, you will have the power to vote on key aspects of the platform, including:
        </p>
        <ul>
            <li><strong>Platform Tax Rates:</strong> Propose and adjust the rates to ensure fair and sustainable
                operations.</li>
            <li><strong>Commission Structures:</strong> Influence how commissions are distributed among participants.
            </li>
            <li><strong>New Features:</strong> Suggest and vote on the implementation of innovative tools and
                functionalities.</li>
            <li><strong>Platform Improvements:</strong> Prioritize enhancements to improve user experience and overall
                performance.</li>
        </ul>
        <h3>Future Staking and Rewards</h3>
        <p>
            BoostAid DAO tokens will not just be for voting. By staking your tokens, you will be able to earn yields in
            STX, proportional to the taxes and commissions generated by the platform. This staking mechanism will
            incentivize active participation in the DAO, contributing to the platform's sustainability and growth.
        </p>
        <h3>Stay Tuned for BoostAid DAO</h3>
        <p>
            Be a part of the decision-making process and help us shape the future of decentralized crowdfunding. By
            participating in the BoostAid DAO, you will not only support innovative projects but also contribute to the
            growth and success of our community.
        </p>
        <p class="highlight">
            Excited about the future? Stay informed and get involved in the planning phase of the BoostAid DAO. Follow
            us on X to receive the latest updates on our progress and launch plans.
        </p>
    </div>
</section>

<!-- <section>
    <div class="container">
        <a class="twitter-timeline" href="https://twitter.com/boostaid_btc" data-height="300">
        </a>
    </div>
</section> -->
