.nft-card {
    max-width: 200px;
    margin: auto;
    // transition: box-shadow 0.3s ease-in-out;
}

mat-card-title {
    color: #1976d2; /* Angular Material Blue */
    font-size: 14px; /* Smaller font size for discreteness */
    opacity: 0.5; /* Watermark effect */
}

mat-card-content p {
    font-size: 16px; /* Larger font size for username */
    // font-weight: bold; /* Highlight username */
    margin: 10px 0; /* Add some space around the username */
    color: #000; /* Ensure username is clearly visible */
}