// $color-primary: #FF8800;
$color-primary: #fe9640;
$color-accent: #ffc800;
$color-warn: #f44336;
$color-cash: #2a8000;
$color-indication: #00aaff;
$color-secondary: blueviolet;
$color-button-primary: #30b943;
$color-dark: #404040;
$color-main-text: #444444;
$color-dark-background: #09202f;
// $color-light-background: #475d6c;
$color-section-light-background: #475d6c;
$color-light-background: #eeeeee;