.toolbar-gap {
    display: block;
    height: 64px;
}

// .warning-message {
//     background-color: #ffcc00;
//     color: black;
//     padding: 10px;
//     margin: 20px 0;
//     text-align: center;
//     border-radius: 5px;
//     font-weight: normal;
// }

.warning-message {
    background-color: #ff9800; /* Bright orange to catch attention */
    color: #ffffff; /* White text for contrast */
    padding: 20px; /* More padding for emphasis */
    margin: 20px auto; /* Centered with some space around */
    text-align: center; /* Centered text */
    border-radius: 8px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border: 2px solid #f57c00; /* Slightly darker border for definition */
    max-width: 80%; /* Maximum width, with some space on the sides */
    animation: blinker 1.5s linear infinite; /* Blinking animation for urgency */
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}