@import '../../../../../styles.scss';

.nft-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

@media (max-width: 600px) {
    .nft-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}