<section>
  <div class="container">

    <app-show-nfts></app-show-nfts>

    <mat-divider></mat-divider>

    <h2>What is a Fundraiser NFT?</h2>

    <p>
      A Fundraiser NFT is essential for project creators who want to launch and manage fundraising campaigns on
      BoostAid. By purchasing a Fundraiser NFT, you gain access to the following benefits:
    </p>

    <ul style="margin-bottom: 10px;">
      <li>
        <strong>Verified Legitimacy:</strong> The NFT acts as a verification badge, signaling to contributors that your
        project
        is genuine and trustworthy.
      </li>
      <li>
        <strong>Multiple Campaigns:</strong> Holders of the Fundraiser NFT can create and manage multiple fundraising
        campaigns,
        enhancing your ability to raise funds over time.
      </li>
      <li>
        <strong>Community Trust:</strong> Builds trust with supporters by demonstrating a level of commitment and
        credibility.
      </li>
    </ul>
    <button mat-flat-button color="primary" [routerLink]="'fundraiser/create'">Create Fundraiser NFT</button>
    <!-- <p>
      <strong>Note:</strong> The Fundraiser NFT is currently under development and will be available soon. Stay tuned for
      updates!
    </p> -->

    <mat-divider></mat-divider>

    <h2>What is a Promoter NFT?</h2>

    <p>
      A Promoter NFT is designed for influencers who want to promote fundraising campaigns on BoostAid. By purchasing a
      Promoter NFT, you gain access to the following benefits:
    </p>
    <ul>
      <li>
        <strong>Referral Link Generation:</strong> Create unique referral links to promote campaigns and track
        contributions
        made through your referrals.
      </li>
      <li>
        <strong>Earning Commissions:</strong> Earn commissions based on the funds raised through your referral links,
        providing
        an incentive for active promotion.
      </li>
      <li>
        <strong>Community Recognition:</strong> Get ranked as a top influencer within the BoostAid community, earning
        recognition
        each epoch for your promotional efforts.
      </li>
    </ul>
    <button mat-flat-button color="primary" [routerLink]="'promoter/create'">Create Promoter NFT</button>
    <!-- <p>
      <strong>Note:</strong> The Promoter NFT is currently under development and will be available soon. Stay tuned for
      updates!
    </p> -->

    <mat-divider></mat-divider>

    <h2>What is a Supporter NFT?</h2>

    <p>
      A Supporter NFT is a token of appreciation for individuals who participate in and support fundraising campaigns on
      BoostAid. Here's how you can get one:
    </p>

    <ul>
      <li>
        <strong>Participate in Campaigns:</strong> When you contribute to a fundraising campaign on BoostAid, you
        automatically receive a Supporter NFT as proof of your contribution.
      </li>
      <li>
        <strong>Proof of Contribution:</strong> This NFT verifies your support and involvement in the project.
      </li>
      <li>
        <strong>Future Rewards:</strong> Holders of Supporter NFTs may receive additional rewards or benefits from the
        projects they support, enhancing the value of their contribution.
      </li>
      <li>
        <strong>Community Engagement:</strong> Engage more deeply with the projects and creators you support, fostering
        a sense of community and impact.
      </li>
    </ul>

    <p>
      Support your favorite projects on BoostAid and earn your Supporter NFT!
    </p>
  </div>

</section>